$u_image_width:175px;
$u_image_height:175px;
$base-app-color:#0083ff;
$successGreenColor:#34eb83;
.u_background{
  width:100%;
  height: 230px;
}

.infoPanelCover{

  width:100%;
  height:500px;
  padding:0px 10px 0px 10px;
  background-color: white;
}

.editIcon{
  position: absolute;
  top:295px;
  right:25px;
  width:25px !important;
  height: 25px !important;
  color:$base-app-color;
}
.doneIcon{
  position: absolute;
  top:295px;
  right:25px;
  width:25px !important;
  height: 25px !important;
  color:$base-app-color;
}
.PhotoCameraIcon{
  position: absolute;
  top:295px;
  right:70px;
  width:25px !important;
  height: 25px !important;
  color:$base-app-color;
}

.infoPanel{
  margin-top:-52.5px;
  width:100%;
  height:500px;
  border-radius: 5px;
  // padding:0px 0px 0px 0px;
  background-color: #F6F6F6;
  padding:0px 0px 30px 0px;

}

.u_image{
  width:$u_image_width;
  height: $u_image_height;
  border-radius: 100px;
  border:1px solid #C4C4C4;
  background-color: lightblue;
}

.u_imagePosition{
  margin-top:-85px;
}

.u_imageRole{
  width:100%;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin-top:10px;
}
.u_imageName{
  margin-top:4px;
  width:100%;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  margin-top:10px;
}

.activityMT{
  margin-top:30px;
}

.right_childCompletitionBlockCopyWithPrivilagius{
    width:55% !important;
}


.completitionBlockB{
  width: 100%;
  height: 30px;
  font-family:RobotoLight;
  margin-left: 2px;
  margin-top:10px;
  margin-bottom: 10px;
  color:black;

}

.left_childCompletitionBlockB{
  width:55%;
  float:left;
  text-align: center;
  padding-top:4px;
  height: 30px;
}
.right_childCompletitionBlockB{
  width:30%;
  float:left;
  margin-right:15%;
  height: 30px;
}

.completition_percentB{
  position: relative;
  top:-30px;
  width:100%;
  height: 30px;

}
.completition_percent_textB{
  text-align: center;
  width: 100%;
  padding-top:4px;
  color:black;
  font-weight: bold;
}

.progressRectangle{
  width:100%;
  height:30px;
  background-color: white;
  border-radius: 5px;
  border:1px solid $base-app-color;

}


.activityM{
  color:black;
  font-family: RobotoLight;

  font-size:16px;
}
.userProgressBlock{
  width: 100%;
  padding-top:30px;
  padding-bottom:30px;
}

.user_bioCover{

  padding:10px;
}
.user_bioTitle{
  font-family: Roboto;
  font-size: 18px;
}

.user_bio{
  font-family: RobotoLight;
  width:100%;
  font-size: 16px;
  margin-top:20px;
}

//edit mode
.bioTextArea{
  background-color: white;
  border-radius:5px;
  width:100%;
  min-height: 60px;
  font-family: RobotoLight;
  color:black;
}
