$base-app-color:#0083ff;
$base-app-colorRightSide:#0083ff;
$fontSize:18px;
.fullWidth{
  margin-left: 1%;
  width: 98%;
  ::-webkit-scrollbar {
        display: none !important;
    }

}

@font-face {
  font-family: 'AppFont';
  src: url('../fonts/AVA_LL.TTF') format('ttf'),
       url('../fonts/AVA_LL.TTF') format('ttf'),
       url('../fonts/AVA_LL.TTF') format('truetype');
}

.MuiIconButton-label{

}

.SkeletonMainBlock{
  width:100%;
  height: 150px;
  background-color: #e6e4df;
  margin-left: 0px;
  margin-right: 5px;
  border-radius: 7px;
  margin-top:5px;
}

.MainBlock{
  width:100%;
  height: 150px;
  font-family:AppFont !important;
  margin-left: 0px;
  margin-right: 5px;
  border-radius: 7px;
  background:linear-gradient(to right, $base-app-color, #0083ff);
  margin-top:5px;
  overflow: hidden;
}

.firstLevel{
  width:96.5%;
  height: 44%;
  /* background-color: blue; */
  margin-top:7px;
  margin-left:5px;
  border-radius: 7px;
  // border:1px solid white;
}



.firstLevelText{
  padding: 4px 0px 0px 7px;
  color:black;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 80%;
  width: 100%;
  font-family:AppFont;
  color:white;
  font-size: $fontSize;
  font-weight: bold;
}

.secondLevel{
  width:96.5%;
  height: 43%;
  margin-top:5px;
  margin-left:5px;
  border-radius: 7px;
  // border:1px solid white;

}

.secondLevelShare{
  width: 100%;
  height: 50%;
}

.secondLevelOne{
  width:50%;
  height: 100%;
  /* background-color: blue; */
  float: left;

}
.secondLevelTwo{
  width:50%;
  height: 100%;
  /* background-color: red; */
  float: left;
}

.shouldButton{
  width:80%;
  height: 80%;
  /* background-color: white; */
  margin-left:10%;
  margin-top:2px;
  border-radius: 5px;
  // border:1px solid white;
}

.shouldButtonText{
  width: 100%;
  height: 100%;
  font-family:AppFont !important;
  color:white;
  text-align: center;
  font-size: $fontSize;
  font-weight: bold;
  padding-top:1px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shareButton{
  width:80%;
  height: 80%;
  border:1px solid white;
  /* background-color: white; */
  margin-left:10%;
  margin-top:2px;
  border-radius: 50px;
}

.shareButtonText{
  width: 100%;
  height: 100%;
  font-family:AppFont !important;
  color:white;
  text-align: center;
  font-size: $fontSize;
  font-weight: bold;
  padding-top:1px;
}

.thirstLevel{
  width:96.5%;
  height: 43%;
  margin-left:5px;
  border-radius: 7px;
  border:1px solid #0083ff;
}

.secondLevelShareThree{
  width: 100%;
  height: 50%;
}

.secondLevelThree{
  width:65%;
  height: 100%;
  /* background-color: blue; */
  float: left;
}
.secondLevelThreeTwo{
  width:35%;
  height: 100%;
  /* background-color: red; */
  float: left;
}

.shouldButtonThree{
  width:80%;
  height: 80%;
  // border:1px solid white;
  /* background-color: white; */
  margin-left:10%;
  margin-top:2px;
  border-radius: 5px;
}

.shareButtonThree{
  // border:1px solid white;
  width:80%;
  height: 80%;
  /* background-color: white; */
  margin-left:10%;
  margin-top:2px;
  border-radius: 5px;
}
