$base-app-color:#0083ff;
$base-app-colorRight:#0083ff;
$font-size: 18px;
.descriptBox{
  width:100%;

  border-radius: 7px;
  /* background-color: white; */
  margin-left:5px;
  margin-right:5px;
  margin-top:10px;
  font-size: $font-size;
  line-height: 1.5;
  //border:1px solid $base-app-color;
  font-weight: bold;
}

.MuiLinearProgress-barColorPrimary{
  background-color: $base-app-color !important;
}

.fullWidthDetail{
  width: 97% !important;
  margin-left: 2.5%;
  margin-top:15px;
}

.TaskTitleBox{
  width: 100%;
  height: 40px;
  margin-top:30px;
  margin-bottom: 10px;
}
.TaskTitle{

  padding:10px;
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  color:$base-app-color;
  font-family: AppFont;
  font-weight: bolder;
  text-align: center;
}

.descriptionText{

  padding:10px;
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  color:$base-app-color;
  font-family: AppFont;
}

.buttonBox{
  width: 100%;
  height: 35px;
  /* background-color: white; */
  margin-top:10px;
  margin-bottom:10px;

}

.generateButton{
  width: 70%;
  height: 100%;
  margin-left: 15%;
  background:linear-gradient(to right, $base-app-color, $base-app-colorRight);
  border-radius: 10px;
}

.generateButtonText{
  color:white;
  font-family:AppFont;
  font-size: 18px;
  text-align: center;
  padding-top:6px;
}

.buttonShare{
  width: 100%;
  height: 50px;
  /* background-color: white; */
  margin-top:15px;

}

.DoneTask{
  font-family:"Times New Roman", Times, serif;
  color:$base-app-color;
  text-align: center;
  margin-top:25%;
}

.ShareNameBox{
  width: 95%;
  margin-top:5px;
  margin-left:10px;
  /* background-color: white; */
}
.ShareNameBoxEdit{
  // overflow: hidden;
  width: 100%;
  height: 34px;
  margin-top:5px;
  // background-color: blue;
}

.ShareNameText{
  text-align: center;
  font-size: $font-size;
  color: $base-app-color;
  font-weight: bold;
  font-family: AppFont;
  font-size: 18px;
  line-height: 1.5;
}

.ShareNameTextFrame{
  border-radius: 7px;
  border:1px solid $base-app-color;
  padding:4px;
  width:50%;
  margin-left: 25%;
}
.ShareNameTextB{
  text-align: center;
  font-size: $font-size;
  color: $base-app-color;
  font-weight: bold;
  font-family: AppFont;
}


.SelectSocial{
  width: 92%;
  margin-left: 2%;
}

.socialColor{
  color:red;
}

.setBox{
  //border:1px solid $base-app-color;
  margin-top:5px;
  margin-left: 5px;
  width: 96%;
  min-height: 220px;

}


.banBox{
  width: 70%;
  margin-left: 15%;
  border:1px solid $base-app-color;
  border-radius: 7px;
  padding: 2px;
  margin-top:7px;
}

.banBoxTitle{
  color:red;
  padding: 2px;
  text-align: center;
  font-weight: bold;
}

.boxIconPosition{
  width: 100%;
  text-align: center;
}
.boxIconStyle{
  color:red;
  font-size: 32px !important;
  width: 100%;
}


.BanBoxList{
  padding:2px;
  text-align: center;
}
.banBoxText{
  color:$base-app-color;
  font-size: $font-size;
  font-weight: bold;
}
.setBoxTwo{
  //border:1px solid $base-app-color;
  width: 100%;
  /* background-color: white; */
  border-radius: 7px;
  margin-top:10px;

}

.setInputStyle{
  width: 100%;
  border-radius: 7px;
  margin-top:5px;
  font-size: 16px;
  background-color: white !important;
  color:$base-app-color !important;
  border-color: $base-app-color !important;
}

.buttonBoxSet{
  width: 100%;
  height: 30px;
  /* background-color: white; */
  margin-top:15px;
  margin-bottom:10px;


}

.generateButtonSet{
  width: 70%;
  height: 100%;
  margin-left: 15%;
  background:linear-gradient(to right, $base-app-color, $base-app-colorRight);
  border-radius: 10px;
}
.generateButtonSetButton{
  width: 70%;
  height: 100%;
  margin-left: 15%;
  background:linear-gradient(to right, $base-app-color, $base-app-colorRight);
  border-radius: 10px;
  border-color: $base-app-color;
  font-size: 18px;
  font-family:AppFont;
  color:white;
}

.generateButtonTextSet{
  color:white;
  font-family:AppFont;
  font-size: 18px;
  text-align: center;
  padding-top:3px;

}

// <div className="buttonShare">
//     <div className="generateButton" >
//         <div className="generateButtonText"  >
//             Complete this task with a friend creator
//         </div>
//     </div>
// </div>
// <div className="buttonShare">
//     <div className="generateButton" >
//         <div className="generateButtonText"  >
//             Share this task with a friend influencer
//         </div>
//     </div>
// </div>
