$base-app-color:#0083ff;
$base-app-colorRight:#0083ff;
$font-size: 18px;
.descriptBox{
  width:100%;
  height: 250px;
  border-radius: 7px;
  /* background-color: white; */
  margin-left:5px;
  margin-right:5px;
  margin-top:5px;
  font-size: $font-size;
  border:1px solid $base-app-color;
  font-weight: bold;
}

.MuiLinearProgress-barColorPrimary{
  background-color: $base-app-color !important;
}

.fullWidthDetail{
  width: 95% !important;
  margin-left: 2.5%;
}

.descriptionText{

  padding:10px;
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  color:$base-app-color;
}

.buttonBox{
  width: 100%;
  height: 35px;
  /* background-color: white; */
  margin-top:15px;

}

.generateButton{
  width: 70%;
  height: 100%;
  margin-left: 15%;
  background:linear-gradient(to right, $base-app-color, $base-app-colorRight);
  border-radius: 10px;
}

.generateButtonText{
  color:white;
  font-family:"Times New Roman", Times, serif;
  font-size: 18px;
  text-align: center;
  padding-top:3px;
}

.buttonShare{
  width: 100%;
  height: 50px;
  /* background-color: white; */
  margin-top:15px;

}

.DoneTask{
  font-family:"Times New Roman", Times, serif;
  color:$base-app-color;
  text-align: center;
  margin-top:25%;
}

.ShareNameBox{
  width: 100%;
  height: 95px;
  margin-top:5px;
  /* background-color: white; */
}

.ShareNameText{
  text-align: center;
  font-size: $font-size;
  color: $base-app-color;
  font-weight: bold;
}

.socialColor{
  color:red;
}

.setBox{
  border:1px solid $base-app-color;
  width: 100%;
  height: 220px;
  /* background-color: white; */
  border-radius: 7px;
  margin-top:15px;
}

.setInputStyle{
  width: 80%;
  height: 30px;
  border-radius: 7px;
  margin-left:9%;
  margin-top:5px;
  font-size: 16px;
  background-color: white !important;
  color:$base-app-color !important;
  border-color: $base-app-color !important;
}

.buttonBoxSet{
  width: 100%;
  height: 30px;
  /* background-color: white; */
  margin-top:15px;

}

.generateButtonSet{
  width: 70%;
  height: 100%;
  margin-left: 15%;
  background:linear-gradient(to right, $base-app-color, $base-app-colorRight);
  border-radius: 10px;
}

.generateButtonTextSet{
  color:white;
  font-family:"Times New Roman", Times, serif;
  font-size: 18px;
  text-align: center;
  padding-top:3px;
}
