
body{

    background-color:#161730;
}

.logo-position{
	width:100%;
	height:100px;
}

.MainLogo{

  width: 20ch;
  height: 19ch;

}

.b_letter{
	width: 40%;
	height: 100%;
    background-image: linear-gradient( #0083ff, #8936f4);
    /*background-color:#0bbbe1;*/
    /*background-size: 100%;*/
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-repeat: repeat;
	/*color:linear-gradient(to right, #8936f4, #0083ff);*/
	font-size:100px;
	float:left;
	font-weight:bold;
	animation: rainbow-text-simple-animation-rev 0.75s ease forwards;



}



.fullSize{
  width:100%;
}

.mainCentralDiv{
	color:white;
	width: 100%;
	height: 20px;

	text-align:center;
	font-size:20px;
	font-family:"Times New Roman", Times, serif;
}

.main-input-padding{
	margin-top:15%;
}

.buttonDiv{
	width:100%;
	height: 45px;
	margin-top:5%;

}

.secondMargin{
  margin-top:10px !important;
  width:100%;
}



.buttonStyle{
	width:50%;
	height: 100%;
	background:linear-gradient(to right, #8936f4, #0083ff);
	border-radius:15px;
  color:white;
  border:0px;
  font-family:"Times New Roman", Times, serif;
}

.buttonText{
	color:white;
	font-family:"Times New Roman", Times, serif;
	text-align:center;
	width:100%;
	height:5px;
	padding-top:5%;
	font-size:16px;
}

.errorBox{
  margin-top:5px;
  padding: 5px;
  border: 2px solid red;
  border-radius: 5px;
}


ion-item {

        --highlight-color-focused:linear-gradient(to right, #8936f4, #0083ff) !important;
        --highlight-color-invalid: red !important;
        --highlight-color-valid: green !important;
	        /*--border-color: var(--ion-color-danger, #f1453d);*/
      color:white;

}



.linearButtonColors{
	background: linear-gradient(to right, red 50%, blue 50%);
	background-size: 200% 100%;
	background-position:left bottom;
}

/* material UI colors */
.MuiFormHelperText-root{
  color: red !important;
}

.MuiInputBase-input{
  color:white !important;
}
