$base-app-color:#0083ff;
$font-size: 18px;
$fontStyles:"Times New Roman", Times, serif;
$greyText:#767676;
$newAppColor:#56c1f7;
$newAppColorTwo:#65c7f7;

@font-face {
  font-family: 'AVA_LL';
  src: local('AVA_LL'), url(../fonts/AVA_LL.TTF) format('TTF');
}
@font-face {
  font-family: 'AVA_LDB';
  src: local('AVA_LDB'), url(../fonts/AVA_LDB.TTF) format('TTF');
}
@font-face {
  font-family: 'CMP57_';
  src: local('CMP57_'), url(../fonts/CMP57_.TTF) format('TTF');
}
@font-face {
  font-family: 'CMP58_';
  src: local('CMP58_'), url(../fonts/CMP58_.TTF) format('TTF');
}
@font-face {
  font-family: 'CMP67_';
  src: local('CMP67_'), url(../fonts/CMP67_.TTF) format('TTF');
}
@font-face {
  font-family: 'CONC';
  src: local('CONC'), url(../fonts/CONC.TTF) format('TTF');
}

.businessContainer{
  padding-bottom:20px;
  background:linear-gradient(to right, $newAppColor, $newAppColorTwo);
}

.backgroundCl{
  width: 100%;

}

.Rolebuttons{
  background-color: blue;
  width: 43%;
  height: 100px;

}

.creatorButton{

  background-color: #F1F8FC;
  width: 100%;
  height: 40%;
  border-radius: 35px;
  border: 2px solid #337BAE;
}

.textCreator{
  color: black;

}


.vis {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Business-title{
  width:100%;
  margin-top:10px;
}

.Business-title-text{
  color:$base-app-color;
  font-style: $fontStyles;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.Business-desc-one{
  margin-left:5px;
  margin-right:5px;
}

.Business-desc-text{
  color:$greyText;
  font-style: $fontStyles;
  font-size: 20px;
  padding:7px;
  text-align: center;
}

.Business-title-two{
  width:100%;
}

.Business-title-text-two{
  color:$base-app-color;
  font-style: $fontStyles;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.business-offer{
  width:100%;
  margin-left:10px;
  margin-right:5px;
}

.business-offer-left{
  width:14%;
  float: left;
  margin-top:10px;
  text-align: center;
}
.business-offer-left-money{
  width:14%;
  float: left;
  margin-top:2.5px;
  text-align: center;
}

.business-offer-right{
  width: 86%;
  float: left;
  color:$greyText;
  font-style: $fontStyles;
  font-size: 18px;
  padding:7px;
}

.business-icon-color{
  color:$base-app-color !important;
  font-size: 30px !important;
}

.Business-title-three{
  margin-top:10px;
  margin-bottom:10px;
  width:100%;
}

.Business-title-text-three{
  margin:4px;
  color:$base-app-color;
  font-style: $fontStyles;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.Business-titleTwo{
  margin-top:10px;
  width:100%;
}

.Business-titleTwo-Text{
  margin:4px;
  color:$base-app-color;
  font-style: $fontStyles;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.Business-title-four{
  margin-top:5px;
  margin-bottom:10px;
  width:100%;
}
.Business-title-four-text{
  margin:4px;
  color:$base-app-color;
  font-style: $fontStyles;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.creator-icon-color{
  color:$base-app-color !important;
  font-size: 15px !important;
}

.buttonCenter{
  margin-left: 25%;
}
